@{
    ViewBag.Title = "Book shop";
}

<div class="container">
    <h2>Books sales off</h2>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        @foreach (var book in ViewBag.Books)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
            </tr>
        }
    </table>
</div>