@using BookingAppStore.Models;
@model IEnumerable<Book>
@{
    ViewBag.Title = "Book shop";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="container">
    <h2>Books sales off</h2>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        @foreach (var book in Model)
        {
        <tr>
            <td>@book.Name</td>
            <td>@book.Author</td>
            <td>@book.Price</td>
            <td><a class="btn btn-success" href="Home/Buy/@book.Id"><span class="glyphicon glyphicon-shopping-cart"></span></a></td>
        </tr>
        }
    </table>
</div>
@Html.Action("GetList");

@*@Html.Partial("GetList", new string[] { "The UK", "The USA", "Russia", "China" })*@

@*below one is quicker*@
@*@{Html.RenderPartial("GetList");}*@

@section Footer {
I'm customizable footer
}